.App {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
}
